<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>John Forbis, CPRP Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='img/headshot.jpg') }}" rel="icon">
  <link href="{{ url_for('static',filename='img/headshot.jpg') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.1.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQQ1NR5N65"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PQQ1NR5N65');
</script>
  
</head>
  
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ url_for('static',filename='img/jfimgs/headshot.jpg') }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">John Forbis, CPRP</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/JForb22" target="new" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://github.com/jforbis" target="new" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.instagram.com/jforb22/" target="new" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/john-forbis-cprp-96921513/" target="new" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>John Forbis, CPRP</h1>
      <p>I'm a <span class="typed" data-typed-items="Father., Husband., Data Analyst., Developer., Professional., believer in having fun!"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>
            With a background in public service, facility management, and leadership of 
            multi-level teams as well as extensive training in both leadership and data analytics 
            through the Leadership Intensive program by The Changing Point and the University 
            of Kansas Data Analytics boot camp respectively, I would make a great addition 
            to any team.
            <br><br>
            I enjoy a good problem needing solved 
            and love to utilize data to tell the story. I am a proven innovator in my 
            career with a ‘can-do’ mindset; always searching for new and better solutions.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ url_for('static',filename='img/jfimgs/headshot.jpg') }}" class="img-fluid rounded-circle" id="headshot" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Project Manager, Software Consultant &amp; Data Analyst.</h3>
            <p class="fst-italic">
              "Do what's right, do your best, and have fun!"
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i id="about-site" class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>j-forbis-portfolio.herokuapp.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 816.585.3070</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kansas City, USA</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a target="new" href="mailto: forbisjohn@gmail.com">Contact Me!</a></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Yes, message me for details!</span></li>
                </ul>
              </div>
            </div>
            <p>
              I have a passion for innovation, data analysis and fun! If you're looking for help with a data project or just someone who can help take your data and make sense of it all send me a message! I'd love to connect and discuss your goals and how we can achieve them.
            </p>
          </div>
        </div>

      </div>
    <!-- </section>End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div> -->
    </section> <!--End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>
            Advanced Excel, Tableau, PowerBI, Python, Pandas, Matplotlib, API calls, Flask, SQL, SQL-Alchemy, MongoDB, Beautiful Soup, Java Script, Plotly, D3.js, Leaflet.js, HTML, CSS, R, and Machine Learning
          </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript, D3.js, &amp; Leaflet.js <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Python & Pandas <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">PowerBI & Tableau <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Microsoft Excel <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            Recreation professional with a passion for innovation, data analysis and fun! 
          </p>
          <a target="new" type="button" id="resume-btn" class="btn btn-outline-dark btn-lg" style="font-size: 10px;" href="{{ url_for('static',filename='vendor/forbis-docs/jfresume.pdf') }}">DOWNLOAD AS PDF</a>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>John Forbis, CPRP</h4>
              <p><em>
                "With a background in public service, facility management, and leadership of multi-level teams as well as extensive training in both leadership and data analytics through the Leadership Intensive program by The Changing Point and the University of Kansas Data Analytics boot camp respectively, I would make a great addition to any team. Acquired skills in: advanced Excel, Tableau, PowerBI, Python, Pandas, API calls, SQL, Java Script, flask app, and Machine Learning.
                I enjoy a good problem needing solved and love to utilize data to tell the story. <br><br>I am a proven innovator in my career with a ‘can-do’ mindset; always searching for new and better solutions."
              </em></p>
              <ul>
                <li>Kansas City, MO</li>
                <li>816.585.3070</li>
                <li><a target="new" href="mailto: forbisjohn@gmail.com">Email</a></li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science - Natural Resources</h4>
              <h4>Dual Emphasis:</h4>
              <p>Leisure Services Management &amp; Travel and Tourism</p>
              <h4>Minor in Business</h4>
              <h5>2001 - 2005</h5>
              <p><em><img src="{{ url_for('static',filename='img/jfimgs/mu.png') }}" class="edu-img">University of Missouri - Columbia</em></p>
              <a target="new" type="button" class="btn btn-outline-dark btn-lg" style="font-size: 10px;" href="https://majors.missouri.edu/parks-recreation-and-sport-recreation-administration-bs/">PROGRAM INFO</a>
            </div>
            <hr>
            <div class="resume-item">
              <h4>Certificate of Data Analytics</h4>
              <h5>2020 - 2021</h5>
              <p><em><img src="{{ url_for('static',filename='img/jfimgs/ku.png') }}" class="edu-img">University of Kansas</em></p>
              <p>
                Completion of a six-month data analytics bootcamp. Subjects covered: Intermediate Excel, Python, JavaScript (D3.js, Leaflet.js), HTML5/CSS, API Interactions, SQL, Tableau, Fundamental Statistics, Machine Learning, R, Git/GitHub, and more.
              </p>
              <a target="new" type="button" class="btn btn-outline-dark btn-lg" style="font-size: 10px;" href="https://bootcamp.ku.edu/data/">PROGRAM INFO</a>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Recent Professional Experience</h3>
            <div class="resume-item">
              <h4>Project Manager / Implementation Consultant</h4>
              <h5>Sept 2020 - Present</h5>
              <p><em><img src="{{ url_for('static',filename='img/jfimgs/cp.png') }}" class="career-img"><a class="career-link" target="new" href="https://www.civicplus.com/">CIVICPLUS</a> </em></p> 
              <ul>

                <li>
                  Responsible for the successful and timely implementation of the CivicPlus software, CivicRec, for municipal governments across the U.S.
                </li>
                <li>
                  <b>With a dedicated focus on client success</b>, I bring over 15 years of experience in the Parks & Recreation, public sector to: establish rapport and positive relationships, the ability to understand the clients’ needs, and tactfully address challenges and concerns, all while maximizing the client's productivity and satisfaction.
                </li>
                <li>
                  <b>In my role as an Implementation Consultant</b>, I focus on the CivicRec tool that is just one of many aspects of the CivicPlus' suite of products. CivicRec provides a comprehensive solution for effective civic management of patrons of Parks and Recreation Departments. I help coach and implement tailored technology with deep local government expertise in a powerful way. Helping deliver thoughtful solutions that improve the dynamics between people, process and structure. I work closely with Parks and Recreation Departments in so that they can work closer with the people who count on them.
                </li>
              </ul>
            </div>
            <hr>
            <div class="resume-item">
              <h4>Recreation Center Manager</h4>
              <h5>Apr 2016 - Sept 2020</h5>
              <p><em><img src="{{ url_for('static',filename='img/jfimgs/Lenexa.jpg') }}" class="career-img"><a class="career-link" target="new" href="https://www.lenexa.com/government/departments___divisions/recreation_center">City of Lenexa, KS</a> </em></p> 
              <ul>
                <li>
                  Serve as the day-to-day operations manager of a 100,000 sq./ft. Recreation Center and lead a team of 7 full-time Parks and Recreation professionals. Create and implement facility policies and procedures, facility budget preparation and monitoring, all data tracking for the facility, development of capital replacement and scholarship plans, coordination of a variety of recreational programs and services, and hiring, training and supervision of all facility staff.
                </li>
                <li>
                  <b>Facility Grand Opening: </b>Responsible for Grand Opening of facility that included a highly successful Charter Membership drive with acquisition of over 2,000 members on a goal of 900. In addition, planned and executed an open house event to acclimate users to the new facility.
                </li>
                <li>
                  <b>Business Data Tracking: </b>Developed tracking mechanism for all business data using Microsoft PowerBI. Tracking document consists of multiple power queries and pivot tables to help determine key metrics in a timely fashion. <br> <a target="_blank" href="{{ url_for('static',filename='vendor/forbis-docs/ex-report.pdf') }}" alt="Monthly Report Example">EXAMPLE REPORT CAN BE VIEWED HERE.</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <!-- <img id="comingsoon" src="{{ url_for('static',filename='img/jfimgs/comingsoon.png') }}"> -->

        <div class="row" data-aos="fade-left">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-stock">Web App w/ Machine Learning</li>
              <li data-filter=".filter-leaf">Leaflet.js</li>
              <li data-filter=".filter-mat">Matplotlib</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-left" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-stock">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static',filename='/img/portfolio/stock-predictor.jpg') }}" class="portfolio-img" alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static',filename='/img/portfolio/stock-predictor.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" data-glightbox="description: .stock-desc"><i class="bx bx-plus"></i></a>
                  <div class="glightbox-desc stock-desc">
                    <h4>
                      Click here for more details:<a href="/make-that-bread"> Stock Price Predictor</a>
                    </h4>
                  </div>      
                <a href="/make-that-bread" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-leaf">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static',filename='/img/portfolio/leaflet.jpg') }}" class="portfolio-img" alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static',filename='/img/portfolio/leaflet.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" data-glightbox="description: .earthquake-desc"><i class="bx bx-plus"></i></a>
                  <div class="glightbox-desc earthquake-desc">
                    <h4>
                      Click here for more details:<a href="/leaflet"> Earthquake Mapping</a>
                    </h4>
                  </div>      
                <a href="/leaflet" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mat">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static',filename='/img/portfolio/matplotlib.jpg') }}" class="portfolio-img" alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static',filename='/img/portfolio/matplotlib.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" data-glightbox="description: .scc-desc"><i class="bx bx-plus"></i></a>
                  <div class="glightbox-desc scc-desc">
                    <h4>
                      Click here for more details:<a href="/mpl"> SCC Tumor Development Over Time</a>
                    </h4>
                  </div>      
                <a href="/mpl" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="/projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="/projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="/projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="/projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="/projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="/projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div> -->

        </div>
        
        <p>
          For access to more of my projects please visit my GitHub page and check out my repositories!  <a target="new" href="https://github.com/jforbis"><img id="port-gh" src="{{ url_for('static',filename='img/jfimgs/github.svg') }}"></a>
        </p>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <div class="container">
            <div class="row">
              <div class="col">
                <p>
                  Data can be crucial to your success as an organization, but don't just take it from me. Check out the video below where <a target="new" href="https://www.youtube.com/c/BenGKaiser/featured">Ben G. Kaiser</a> talks about three reasons data analytics can help you succeed. The three reasons he explains are:
                  <ol>
                    <li>
                      <a target="new" href="https://en.wikipedia.org/wiki/Predictive_analytics">Predictive Analytics: </a>predict how your customers will react by using historical data and either statistical methods or machine learning models.
                    </li>
                    <li>
                      <a target="new" href="https://www.investopedia.com/terms/d/descriptive-analytics.asp">Descriptive Analytics: </a>gain insights from historical data using visualizations.
                    </li>
                    <li>
                      <a target="new" href="https://en.wikipedia.org/wiki/Prescriptive_analytics">Prescriptive Analytics: </a>anticipate what, when, and why.
                    </li>
                  </ol>
                </p>
            <div class="row">
              <div class="col">
                <div class="serv-vid embed-responsive embed-responsive-16by9">
                  <iframe id="serv-vid" class="embed-responsive-item" src="https://www.youtube.com/embed/VAd-fg9EKtY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>            
                <br>
                <p>
                  Not only can data be crucial to your success but so can an online presence. Resume's can only get you so far - if you really want to stant out in the candidate pool lets get you a website that truly showcases your abilities and adds a little flair as well!
                </p>
                <br>
                <p>
                  I have a passion for innovation, data analysis and fun! If you're looking for help with a data project or just someone who can help take your data and make sense of it all send me a message! I'd love to connect and discuss your goals and how we can achieve them.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Data Insights</a></h4>
            <p class="description">Have data and not sure what to do with it? Let me help you build a structure to manage your data and find actionable insights from analyzing it!</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Data Cleaning</a></h4>
            <p class="description">If your data is a mess, let me know! While others find messy data a chore, I enjoy taking data and making it usable!</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-code-square"></i></div>
            <h4 class="title"><a href="">Web Development</a></h4>
            <p class="description">Want a website to showcase your work but don't know where to start? I can help you design, deploy and generate exposure. Lets chat!</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-file-spreadsheet-fill"></i></div>
            <h4 class="title"><a href="">Microsoft Excel</a></h4>
            <p class="description">If you're ready to take your Excel skills to the next level lets talk. I can help you understand how you can leverage Excel to achieve your end-goal; and teach you some neat tricks too!</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-card-heading"></i></div>
            <h4 class="title"><a href="">Web Scraping</a></h4>
            <p class="description">There are many ways to get data - for FREE! Let me show you how you can find data online and 'scrape' it for your personal use.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-file-easel-fill"></i></div>
            <h4 class="title"><a href="">Recreation Consultation</a></h4>
            <p class="description">Let me draw on my 15 years of experience 'in the field' to help you problem solve: programming, operations, data management, and more!</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>
            Don't just take my word for it, check out what others are saying about my work:
          </p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  John has always been able to help me brainstorm thru issues that I'm having (even on systems that he has never used), thru his ability to quickly break issues down to core causes and think of several possible ways and/or workarounds to address the problem. <br>...<br> He has such a unique perspective to have experienced (and system administered) several different recreation softwares working at several different organizations.
                </p>
                <h3>Michael Biedenstein, CPRP</h3>
                <h4>Park, Program, Services (PPS) Manager</h4>
                <h4><i>St. Louis County, MO</i></h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As Business and Fitness Services Manager, John's work includes multiple daily tasks and responsibilities. His work is accurate, timely and always professional. John is willing to go beyond his normal duties to assist the work team when needed. John is very knowledgeable in finance, programing, administration and overall facility operations. He is a great asset to our organization.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Chris Deal, CPRP</h3>
                <h4>Parks &amp; Recreation Director (retired)</h4>
                <h4><i>City of Harrisonville, MO</i></h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  John has a strong passion for helping people everyday. He loves building relationships with the users of the rec center and all of his colleagues. He is a great asset to the city and the rec center. I consider John a close friend! John does a great job of getting to know all the people he works with, he is great at building relationships across generations in the workplace. Easy answer, I would reccomend John for any leadership role. He would be a great addition to any team.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Jeremy Reimer</h3>
                <h4>Recreation Supervisor</h4>
                <h4><i>City of Lenexa, KS</i></h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  John was also extraordinarily helpful in other areas of the center. In addition to effective training, for sales representatives, John assumed a leadership role in Sales meetings, inspiring and motivating other employees. His computer skills have been unmeasurably beneficial to the center as he designed and programmed spreadsheets including daily facility reviews, personal training, membership tracking, etc.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Keith Edic</h3>
                <h4>Senior Director</h4>
                <h4><i>Power Wellness</i></h4>
              </div>
            </div><!-- End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div> -->
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>
            Former President and CEO of Yahoo! Inc., <a target="new" href="https://en.wikipedia.org/wiki/Marissa_Mayer">Marissa Mayer</a> said, "With data collection, 'the sooner the better' is always the best answer." Let me know how I can help you get started with leveraging your data to make informed, actionable decisions for your business!
          </p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kansas City, MO</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a target="new" href="mailto: forbisjohn@gmail.com">Contact Me!</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 816.585.3070</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d396368.6856382989!2d-94.85590602559651!3d39.09211671281613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0f75eafe99997%3A0x558525e66aaa51a2!2sKansas%20City%2C%20MO!5e0!3m2!1sen!2sus!4v1620274396579!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" id="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><a id="sendmail" type="button" class="btn btn-outline-dark" onclick="GetVariables()">Send Message</a></div>
              <div class="text-center"><a id="clearform" type="button" class="btn btn-outline-danger" onclick="ClearForm()">Clear Form</a></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by:<br>
        <a target="new" href="https://www.linkedin.com/in/john-forbis-cprp-96921513/">J. Forbis</a> with help from <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/typed.js/typed.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/waypoints/noframework.waypoints.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

  <!-- JavaScript.d3 Link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>


</body>

</html>
